# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project specific
output/*
!output/.gitkeep

# Ignore datasets and inputs
dataset/
input/
